{% extends "base.html.twig" %}

{% block title %} Conditions Générales de vente {% endblock %}

{% block body %}
    
   <h1>Conditions Générales de Vente :</h1><br><br><br>

    <p>Le Client reconnaît avoir été informé et avoir accepté le fait que les offres de voyages sont régies par les présentes conditions de vente:</p><br><br><br>

    <h2>1 - Acceptation des Conditions de vente et Commande: </h2><br><br>   
		<p>Ces Conditions de vente s'appliquent à toute commande de voyage (ci-après dénommée « la Commande ») effectuée par un non professionnel du voyage (ci après dénommé « le
		Client ») auprès de Efiya Voyages.</p>
		<p>Une Commande est régie par les Conditions de Vente en vigueur au jour de la demande de réservation. Selon le type de prestations vendues, des conditions spécifiques sont
		susceptibles de s’appliquer.</p>
		<p>Le Client reconnaît avoir la capacité de contracter aux conditions décrites dans les Conditions de Vente présentées ciaprès, c'est-à-dire avoir la majorité légale et ne pas être sous
		tutelle ou curatelle. Les présentes conditions font parties intégrantes du contrat de vente. Leur texte peut également être obtenu sur simple demande adressée au siège de la société.
		<p>Le Client reconnaît avoir pris connaissance des présentes Conditions de Vente dans leur intégralité, des conditions spécifiques propres à certaines prestations, ainsi que de tous les termes de la proposition avant d'avoir passé sa commande. Dès lors, toute demande de réservation entraîne l’entière adhésion du Client aux Conditions de Vente de Efiya Voyages.</p>
		<p>Une demande de réservation sera traitée par Efyia Voyages après
		réception : <ul>
			<li>- du bon de commande dûment validé par le Client, et</li>
			<li>- d'un moyen de paiement.</li>
        </ul></p>
		<p>Ces conditions sont cumulatives.</p><br><br><br>

    <h2>2 - Prix / Paiement:</h2><br><br>

		<p>Tous les prix sont affichés en Euros. Ils doivent être vérifiés au moment de la demande de réservation. La TVA est toujours comprise. Conformément au régime de TVA sur la marge des agents de voyages, nos factures ne mentionnent pas la TVA collectée sur les prestations vendues.</p>
		<p>Seules les prestations mentionnées explicitement dans les descriptifs des voyages sont comprises dans le prix.</p>
		<p>Sauf stipulation contraire dans un descriptif de voyage, les prestations suivantes ne sont pas comprises dans le prix : <ul>
				<li>- Les frais de voyages aller-retour à destinations des pays de départ des circuits ;</li>
				<li>- les dépenses à caractère personnel (pourboires, téléphone,
			cautions diverses, autres) ;</li>
				<li>- les frais de vaccination et de visa ;</li>
				<li>- les assurances ;</li>
            </ul>	 
		<p>Le prix des voyages varie notamment selon le type de séjour: séjour gold (15 jours) et séjour basique (7 jours), réservation par le Client, la période d'exécution du voyage. Nos prix sont des tarifs contractuels. Aucune contestation relative au prix des prestations ne pourra donc être prise en compte dès lors que le Client a effectué la demande de réservation. 
		 Moyens de paiement:</p>
		<p>Le Client peut effectuer son règlement par carte bancaire française, suisse, ou belge (Carte Eurocard
			Mastercard, Carte Bleue sauf Visa Electron), nous vous invitons à vérifier que son plafond est suffisant pour couvrir le montant du règlement de la Commande.</p><br><br><br>
		
    <h2>3 - Annulation / Modification à l'initiative du Client</h2><br><br>

		<p>Au titre de l’article L. 111-1 du code de la consommation, Efyia Voyages s’engage à répondre à une demande de réservation dans un délai de 48 heures (hors week-end et jours fériés).</p>
		<p>Si le Client procède à l’annulation de sa demande de réservation durant cette période et avant confirmation de sa demande de réservation par Efiya Voyages, il sera facturé d'une somme forfaitaire de 49 euros par personne.</p>
		<p>A défaut d’une réponse dans les 48 heures, le Client a la possibilité d'annuler sans frais sa demande de réservation.</p><br><br><br> 

    <h2>4 - Annulation / Modification à l'initiative de l'Agence:</h2><br><br>
		<p>Conformément à l'article R. 211-10 du Code du Tourisme, si Efiya Voyages se trouve contrainte d'annuler le voyage, elle en informera le Client. Le Client sera alors remboursé entièrement.</p><br><br><br>

    <h2>5 - Réclamations:</h2><br><br>

		<p>Pour un traitement rapide de votre dossier, toute réclamation doit être adressée à Efiya Voyages dans les 30 jours suivant le retour à efiya@voyages.com </p>
		<p>Conformément à l’article L211-16 du code du tourisme, tout problème lié à une inexécution ou une mauvaise exécution des prestations doit impérativement être signalé pendant le séjour au réceptif local ou à Efiya Voyages en appelant le numéro de téléphone indiqué sur la convocation voyage.</p><br><br><br>

    <h2>6 – Circonstances exceptionnelles et inévitables:</h2><br><br>
 	    <p>Si survenue d'une circonstance sanitaire exceptionnelle ( par exemple: une pandémie) ou civile ( acte de terorisme ou guerre), les réservations ou voyages seront annulés et les voyageurs déjà sur place 
		seront rapatriés en fonction de leur état.</p><br><br><br>

    <h2>7 - Responsabilité civile:</h2><br><br>
		<p>Une assurance est souscrite à titre principal auprès de la compagnie MMA IARD (14 boulevard Marie et Alexandre Oyon 72030 Le Mans cedex 9), couvrant la Responsabilité Civile Professionnelle (RCP).</p>
		<p>La notion de responsabilité civile (accident, incendie, vol, autres) varie suivant la législation des pays concernés : il est conseillé aux voyageurs de se garantir individuellement par une assurance complémentaire à celles éventuellement achetées par notre intermédiaire.</p><br><br><br>

    <h2>8- Informatique et Libertés:</h2><br><br>
		<p>Les informations communiquées sur le Site permettent notamment à Efiya Voyages, ainsi qu’à ses Partenaires, de traiter et exécuter les commandes passées sur le Site.</p>
		<p>En application des Lois n°78-17 du 6 janvier 1978, dite Informatique et Libertés aux fichier et libertés et n°2018-493 du 20 juin 2018 relative à la protection des données personnelles, le Client dispose d’un droit d’accès, de rectification, de suppression, d’opposition et de portabilité des données le concernant (article 38 à 40 du RGPD).</p>
		<p>Ce droit s’exerce auprès de Efiya Voyages. Afin que Efiya Voyages puisse satisfaire cette demande, il appartient au Client de faire parvenir les éléments nécessaires à son identification (civilité, nom,
		prénom, adresse, code postal, ville, pays).</p>
		<p>Pour toute réclamation, vous pouvez vous adresser à notre Délégué à la Protection des données (DPO) à l'adresse suivante efiya@voyages.com</p><br><br><br>

    <h2>9- Droit applicable:</h2><br><br>
		<p>Les présentes Conditions de Vente sont soumises au droit français et en particulier au Code du Tourisme. Tout litige relatif à leur interprétation et/ou à leur exécution relève des Tribunaux
		Français.</p><br><br><br>



{% endblock %}