{% extends "base.html.twig"%}

{% block title %}Jordanie{% endblock %}
{% block body %}

<h1>Le desert de Wadi Rum</h1><br>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ dossier_images }}/jordanie/jordanie-1.jpg" class="caroussel" alt="trek jordanie">
            </div>
            <div class="carousel-item">
                <img src="{{ dossier_images }}/jordanie/jordanie-2.jpg" class="caroussel" alt="trek jordanie">
            </div>
            <div class="carousel-item">
                <img src="{{ dossier_images }}/jordanie/jordanie-3.jpg" class="caroussel" alt="trek jordanie">
            </div>
            <div class="carousel-item">
                <img src="{{ dossier_images }}/jordanie/jordanie-4.jpg" class="caroussel" alt="trek jordanie">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div><br><br><br><br>

    <div class="container">
        <h2> POUR CEUX QUI DESIRENT SE RESSOURCER OU FAIRE UN VOYAGE CULTUREL</h2><br><br>

        <p>Nous vous proposons notre circuit culturel de découverte du desert en Jordanie.
        Plongez dans un voyage dans le temps.</p>
        <p>Redécouvrer l'histoire, l'architecture les épopéés hellénistiques, les vestiges, des payages et des couleurs à couper le souffle !</p><br>
        <p>Venez admirer ces sites naturels exceptionnels et captivant qui vous mèneront dans un autre univers! 
        Les nuits en bivouac dans le désert ou sous une tente bédouine vous donneront le gout de l'aventure!
        Après toutes ces émotions, relaxez-vous dans un bain unique au monde où la pesanteur n'existe plus 
        et profitez de ce moment inoubliable pour recharger les batteries de la vie.
        Ce circuit admirable dans ce désert extraordinaire vous tranformera:vous en repartirez renouvelé,ressourcé et pleins d'émotions positives.</p><br>

        <h3>Itinéraire:</h3><br>
        <p>Le 1er jour: A votre arrivée à l'aéroport international Queen Alia à Marka, non loin de la capitale Amman, 
        vous êtes pris en charge par notre équipe sur place.</p><br>
        <p>Apres une collation de bienvenue, vous serez transférez dans votre hôtel à Amman par un mini-bus climatisé.</p><br>
        <p>Vous vous y reposerez.</p><br>

        <p>Pendant 10 jours : la decouverte culturelle du desert jordanien:<ul><br><br>
                                        <li> - Site hellénistique de Jérash,</li>
                                        <li> - Ajlun et le château arabe,</li>
                                        <li> - Baignade dans les eaux chaudes d’El Hamma,</li>
                                        <li> - Site historique d’Um Qai,</li>
                                        <li> - Découverte des mosaïques d'églises,</li>
                                        <li> - Réserve naturelle de Dana et de son vieux village,</li>
                                        <li> - Le fabuleux site de Pétra, la fameuse cité Nabatéenne,</li>
                                        <li> - Le célèbre desert de Wadi Rum,</li>
                                        <li> - Baignade dans la mer morte.</li>
                                        </ul><br>
                                        
        <p>11 eme jour : Le retour pour Amman se fera par la route du desert ;</p>
        <p>12 ème jour : temps libre et virée shopping  dans la capitale,</p>
        <p>13 ème jour : le retour vers le pays de provenance.</p><br><br>

        <h3>Période idéale</h3><br>
        <p>Les deux meilleures périodes pour partir en Jordanie sont le printemps et l’automne, car les températures sont agréables.</p>
        <p>Les températures ne sont pas trop chaudes, c'est donc les meilleures périodes pour partir randonner et s'essayer à l'escalade dans les paysages désertiques et canyons du pays.</p> 
        <p>Les amateurs pourront également plonger à la découverte de la faune et flore de la mer Rouge.</p><br>

        <p>Quant aux régions du pays, elles se visitent toutes en ces saisons :
        de Jerash au nord à Aqaba au sud, en passant par Wadi Rum et les Châteaux des Omeyyades en direction du désert oriental.</p>
        <p>Le printemps et l'automne sont alors les périodes idéales pour organiser un road trip complet à travers le pays.</p>

        <h3>Formalités :</h3><br>
       <p> Pour chaque voyageur interessé par le circuit en Jordanie, le passeport doit etre valide et comporté un visa d'entrée.</p>
        <p>Il n' y pas de vaccinations obligatoires cependant,il est recommandé d'avoir ses vaccins à jour et de respecter le règlement sanitaire de base.</p>
       <p> Il est très fortement recommandé d'avoir une assurance couvrant les frais médicaux et de rapatriement sanitaire.</p>
       <p> La sécurité du voyageur est primordiale: cependant il est invité à faire preuve de prudence à cause d'un voisinage territorial instable.</p><br><br>

        <h4>Adresses utiles:</h4><br>
        <u>Ambassade de France en Jordanie :<br>
        Al Mutanabi Street, 38,<br>
        Jabal Amman (4th Circle) PO Box 5348,<br>
        11183 Amman<br>
        Tél. : 962 (0)6 460 46 30<br>
        Tél. urgence : 962 (0)6 460 46 31 (hors horaires ouverture de l’ambassade),<br>
        Internet :<a href="http://www.ambafrance-jo.org/">http://www.ambafrance-jo.org/</a><br>
        Courriel : cad.amman-amba@diplomatie.gouv.fr</p><br>
        <a href="http://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs_909/index.html">http://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs_909/index.html</a><br>
        <a href="http://www.pasteur.fr/ip/easysite/pasteur/fr/sante/centre-medical/vaccinations-internationales-medecine-des-voyages/recommandations-par-pays">http://www.pasteur.fr/ip/easysite/pasteur/fr/sante/centre-medical/vaccinations-internationales-medecine-des-voyages/recommandations-par-pays</a></u><br><br><br>


    </div>
{% endblock %}

